.posts {
    margin: 0px 0;
    > article {
        margin-bottom: $vertical-spacing-unit;
    }
}

article {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    a { 
        color: #666;
        text-decoration: underline;
        font-weight: 100;
        &:hover {
            text-decoration: none;
            color: $theme-color;
        }
    }
}

.float-u-left {
    float: left;
}
.float-u-right {
    float: right;
}
.home-u-icon {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}
.portfolio {
    border: 1px solid black;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}